In [41]:
import pandas as pd

In [42]:
data =pd.read_csv("train.csv")

In [43]:
data

,claim_id,policy_number,claim_number,sum_insured,product,agent,class_of_business,risk_type,loss_date,client_type,renewal_frequency,primary_cause,secondary_cause,branch,target
0,ID_JZ7QWRHH57RO,pol000009680,claim0011359,300000.0,prod00027,ag00068,cob00031,rt00006,2021-05-13,ct0003,rf0001,pc0007,sc00022,br00006,82150.00
1,ID_KQ5TJMVLJ4EP,pol000006869,claim0005272,16000.0,prod00005,ag00226,cob00010,rt00032,2018-05-13,ct0003,rf0001,pc0007,sc00023,br00002,3780.24
2,ID_NYHI7WJGGIAE,pol000006135,claim0004147,3000.0,prod00029,ag00037,cob00010,rt00026,2018-08-18,ct0003,rf0001,pc0007,sc00024,br00002,2196.50
3,ID_ROMMDCXYUXN5,pol000008991,claim0009962,6000.0,prod00005,ag00037,cob00009,rt00032,2018-12-20,ct0003,rf0001,pc0007,sc00021,br00001,105.67
4,ID_2OTD9NX8L73D,pol000007768,claim0007346,26850.0,prod00015,ag00226,cob00034,rt00023,2018-11-07,ct0001,rf0001,pc0007,sc00021,br00001,1605.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9371,ID_A5ETUPPQDFLS,pol000006054,claim0003743,42000.0,prod00015,ag00037,cob00034,rt00023,2019-09-02,ct0001,rf0002,pc0007,sc00021,br00002,205.68
9372,ID_Z3OGUWI7T2GC,pol000006715,claim0005088,6800.0,prod00005,ag00064,cob00009,rt00032,2018-05-12,ct0003,rf0002,pc0007,sc00021,br00002,1133.32
9373,ID_GSJDAJCABSBZ,pol000008236,claim0008976,5000.0,prod00005,ag00064,cob00009,rt00032,2018-07-28,ct0003,rf0001,pc0007,sc00029,br00001,2176.00
9374,ID_8B7YNBEKXHJW,pol000006847,claim0005250,6000.0,prod00005,ag00037,cob00009,rt00032,2018-08-16,ct0003,rf0001,pc0007,sc00022,br00002,851.40
9375,ID_8OB2QWUC664M,pol000007450,claim0006249,10000.0,prod00027,ag00226,cob00010,rt00006,2019-09-07,ct0003,rf0002,pc0007,sc00023,br00001,1410.00

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9376 entries, 0 to 9375
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   claim_id           9376 non-null   object
 1   policy_number      9290 non-null   object
 2   claim_number       9376 non-null   object
 3   sum_insured        9376 non-null   float64
 4   product            9376 non-null   object
 5   agent              9376 non-null   object
 6   class_of_business  9376 non-null   object
 7   risk_type          9376 non-null   object
 8   loss_date          9376 non-null   object
 9   client_type        9376 non-null   object
 10  renewal_frequency  9376 non-null   object
 11  primary_cause      9376 non-null   object
 12  secondary_cause    9376 non-null   object
 13  branch             9376 non-null   object
 14  target             9376 non-null   float64
dtypes: float64(2), object(13)
memory usage: 622.7+ KB

In [48]:
categorical_cols = ['branch','secondary_cause','primary_cause','renewal_frequency','client_type','loss_date','risk_type','product','agent','claim_number','policy_number','claim_id','class_of_business']

In [56]:
pd.get_dummies(categorical_cols,drop_first=True)

,branch,claim_id,claim_number,class_of_business,client_type,loss_date,policy_number,primary_cause,product,renewal_frequency,risk_type,secondary_cause
0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0,1,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,1,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,0,0
12,0,0,0,1,0,0,0,0,0,0,0,0